*{
padding:0;
margin:0;
}

:root{
--colorInputs:#fff;
}

body{
font-size:20px;
}

#carouselExampleSlidesOnly{
position:fixed;
width:100vw;
}

.carousel-item img{
height:100vh;
width:100vw; 
object-fit:cover;
}

.fondo{
position: relative;
}

header{
height:10vh;
width:100%;
background:rgba(200,200,200, 20%);
font-size:20px;
display:grid;
align-content:center;
font-family:sans-serif;
}

header b{
font-size:1.6em;
color:#fff;
margin-left:2rem;
justify-self: start;
}

.contenedor{
height:90vh;
width:100%;
display:grid;
place-content:center;
gap:.5rem;
}

.contenedor h1{
font-size:4em;
font-family:sans-serif;
color:#ededed;
}

.contenedor p{
font-size:1.2em;
font-family:sans-serif;
color:#ededed;
}

.contenedor button{
height:2rem;
width:15rem;
border:none;
background:#000;
color:#ededed;
border-radius:.2rem;
transition:.3s;
}

.contenedor button:hover{
background:#ededed;
color:#000;
transition:.3s;
}

.contenedor2{
min-height:50vh;
width:100%;
display:grid;
place-content:center;
gap:2rem;
display:grid;
grid-template-columns:auto auto;
grid-template-rows:auto auto auto;
}

.titulo2{
font-size:1.3rem;
color: #fff;
grid-column:1/3;
justify-self:center;
}

.contenedor2 img{
height:15rem;
width:25rem;
grid-row:2/4;
justify-self:center;
align-self:center;
object-fit:cover;
}

.contenedor2 p{
max-width:30vw;
font-size:1.1rem;
color:#fff;
text-align:justify;
}

.contenedor2 strong{
color:#ededed;
}

.contenedor2 #boton{
height:1.8rem;
width:100%;
border-radius:1.4rem;
font-size:1.1rem;
background:#000;
text-align:center;
color: #fff;
font-family:sans-serif;
text-decoration:none;
margin-bottom:1rem;
}

.contenedor3{
height:30rem;
width:100%;
display:grid;
place-content:center;
}

form{
height:20rem;
width:40rem;
background:rgba(250,250,250,30%);
display:grid;
}

form b{
font-size:1.2rem;
color:#000;
margin-left:5%;
align-self:center;
font-family:sans-serif;
}

form input{
height:2rem;
width:90%;
justify-self:center;
align-self:center;
background:transparent;
border:none;
border-bottom:.1rem solid var(--colorInputs);
color:#ededed;
outline:none;
}

::placeholder{
color:var(--colorInputs);
font-family:sans-serif;
}

form textarea{
height:5rem;
width:90%;
justify-self:center;
align-self:center;
background:transparent;
border:none;
border-bottom:.1rem solid var(--colorInputs);
color:#ededed;
outline:none;
}

form input:hover, textarea:hover{
background:rgba(200,200,200, 20%);
}

input:is([type="submit"]) {
background:rgba(200,200,200, 20%);
border:none;
}

footer{
height:10rem;
width:100vw;
background:#000;
display:grid;
grid-template-columns:auto auto;
place-content:center;
gap:.4rem;
}
    
footer img{
height:1rem;
width:1rem;
filter:invert(100%);
align-self:center;
}
    
footer a{
color:#fff;
text-decoration:none;
}

@media screen and (max-width:390px){
    header b{
    font-size:1rem;
    }
 
    nav a{
    font-size:.6em;  
    }
 
    .contenedor p{
    font-size:.6em;
    }
 
    .contenedor2 p{  
    width:100%;
    }
}


@media screen and (max-width:670px){
   .background img{
   object-fit:cover;
   }

   header b{
   font-size:1.5rem;
   }

   nav a{
   font-size:.9em;  
   }

   .contenedor p{
   font-size:.9em;
   }

   .contenedor2{
   display:flex;
   flex-direction:column;
   align-items:center;

   }

   .contenedor2 p{
   min-width:90vw;
   align-self:center;
   }

   .texto{
   font-size:1rem;
   }

   form b{
   font-size:1rem;
   }

   form{
   height:16rem;
   width:22rem;
   }
}
